{% extends 'base.html' %}
{% block doc_title %}Inspection Plan - {{ car_name }}{% endblock doc_title %}
{% block title %}Inspection Plan - {{ car_name }}{% endblock title %}
{% block navigation %}
    <a class="mdl-navigation__link" href="{{ url_for('inspection_response', auto_id=auto_id) }}">Inspection Response</a>
    <a class="mdl-navigation__link" href="{{ url_for('index') }}">Home</a>
{% endblock navigation %}
{% block side_navigation %}
    <a class="mdl-navigation__link" href="{{ url_for('index') }}">Home</a>
    <a class="mdl-navigation__link" href="{{ url_for('inspection_response', auto_id=auto_id) }}">Inspection Response</a>
{% endblock side_navigation %}

{% block content %}
    <div class="container">
        {% if data %}
        <table class="table">
            <tr>
                <th><u>Aspect</u></th>
                <th colspan="2"><u>Options</u></th>
            </tr>
            {% for section, checks in data.items() %}
                <tr>
                    <th colspan="3">{{ section }}</th>
                </tr>
                {% for check, values in checks.items() %}
                    <tr>
                        <td>{{ check }}</td>
                        <td>{{ values[0] }}</td>
                        <td>{{ values[1] }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
        {% else %}
        <h2 style="color: red;">No Inspection Plan was found!</h2>
        {% endif %}
    </div>
{% endblock content %}


