{% extends 'base.html' %}
{% block doc_title %}Inspection Response - {{ car_name }}{% endblock doc_title %}
{% block title %}Inspection Response - {{ car_name }}{% endblock title %}

{% block navigation %}
    <a class="mdl-navigation__link" href="{{ url_for('inspection_plan', auto_id=auto_id) }}">Inspection Plan</a>
    <a class="mdl-navigation__link" href="{{ url_for('index') }}">Home</a>
{% endblock navigation %}

{% block side_navigation %}
    <a class="mdl-navigation__link" href="{{ url_for('index') }}">Home</a>
    <a class="mdl-navigation__link" href="{{ url_for('inspection_plan', auto_id=auto_id) }}">Inspection Plan</a>
{% endblock side_navigation %}

{% block content %}
    <div class="container">
        {% if data %}
        <table class="table">
            <tr>
                <th><u>Aspect</u></th>
                <th><u>State</u></th>
            </tr>
                {% for section, checks in data.items() %}
                    <tr>
                        <th colspan="2">{{ section }}</th>
                    </tr>
                    {% for check, value in checks.items() %}
                        <tr>
                            <td>{{ check }}</td>
                            <td>{{ value }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
        </table>
        {% else %}
        <h2 style="color: red;">No Inspection Response was found!</h2>
        {% endif %}
    </div>
{% endblock content %}


