<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMW Visual Inspection Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <script src="/static/index.js" defer></script>
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Data from MongoDB</h1>
            <button id="fetch-data-button" class="button is-primary">Fetch Data</button>
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Auto ID</th>
                        <th>IP</th>
                        <th>Href</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody id="data-table-body">
                    <!-- Data will be inserted here dynamically -->
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
