<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Display</title>
    <!-- Include Bulma CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Data from MongoDB</h1>
            <table class="table is-striped is-fullwidth">
                <thead>
                    <tr>
                        <th>Auto ID</th>
                        <th>Link</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr>
                        <td>{{ item.auto_id }}</td>
                        <td><a href="{{ item.href }}" target="_blank" class="button is-link is-small">Access Link</a></td>
                        <td>{{ item.timestamp }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>
